/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 1px solid #323232 ;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


.active{
  display: block;
}



.input-filed{
  height: 0;
  width: 0;
  opacity: 0;
  z-index: -1;
}

.file-label{
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 15px;
  display: flex;
  width: 50px;
  align-items: center;
  justify-content: space-around;
transition: .4s;
}
.file-label:hover{
  background-color: #ccc;

}

.image-preview{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.image-box{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input-image{
  display: flex;
  align-items: center;
}


/* select checkbox */


.items{
  display: flex;
  align-items: center;
}

.item input{
  height: 0;
  width: 0;
  display: none;
}

.item label{
  padding: 2px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}
.item label.selected{
  background: #ccc;
}


.icon{
  visibility: hidden;
}



.user-img{
  height: 50px;
  width: 50px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon{
  
  font-size: 40px;
  color: #ccc;
}